{% extends "base.html" %}

{% load i18n sekizai_tags %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css">
{% endaddtoblock %}

{% block base_content %}
  {% block page_content %}
  <div id="page_content">
    <form method="post" action="." id="login-form">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Log in' %}" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
  {% endblock %}
{% endblock %}
