{% extends "page.html" %}

{% load i18n sekizai_tags %}


{% block page_content %}

  {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">
  {% endaddtoblock %}

  <form method="post" action="" id="register-form">
    {% csrf_token %}

    <div id="form_errors">
      {{ form.non_field_errors }}
    </div>

    {% for field in form %}
    <div class="field {% if field.field.required %}required{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% if field.name == "username" %}
          <span class="help">{% trans "Username cannot contain spaces." %}</span>
        {% endif %}
    </div>
    {% endfor %}

    <input type="submit" value="{% trans 'Register' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
