form {
    margin-top: 3ex;
}

form em {
    font-style: normal;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: .5ex;
}

form .field {
    float: left;
    clear: both;
    display: block;
    margin-bottom: 2ex;
    margin-top: 2ex;
}

form .field.required label {
    font-weight: bold;
}

form label.required {
    font-weight: bold;
}

input[type=submit] {
      clear: both;
      display: block;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: 2ex;
}

form ul.errorlist {
    list-style-type: none;
    font-weight: bold;
    color: #2287B5;
    margin-top: .5ex;
    margin-bottom: .5ex;
    padding: 0;
}

form span.help {
    clear: both;
    display: block;
    color: grey;
    margin-top: .5ex;
}
