#project_description {
      color: #CCCCCC;
      text-align: justify;
      margin-bottom: 4ex;
      font-size: 118%;
      alignment-adjust: central;
}

     #project_description p {
      margin-top: 1ex;
    }

    #project_description span.plugin_link a {
     display: inline;
    }
    #dynamic_menu ul#nav {
      margin: 0;
      padding-left: 5px;
    }


#news { }

#news .new {
    margin-bottom: 6ex;
}

#news .plugin_picture {
   display: inline-block;
   vertical-align: top;
   width: 29%;
}

#news .new_text {
    display: inline-block;
    width: 70%;
}

#news .new_text p {
    margin: 0;
}

#news .plugin_link a {
    color: white;
}

#more_news {
    margin-bottom: 6ex;
    float: right;
}

#more_news p {
    margin: 0;
}

#more_news .plugin_link a {
    color: white;
}

#credits {
    clear: both;
    margin-top: 6ex;
    overflow: hidden;
}

   #credits .logos {
       margin-bottom: 4ex;
       float:left;
   }

   #credits .plugin_picture {
      display: inline-block;
      vertical-align: top;
      margin-left: 2em;
      margin-top: 2ex;
  }

   #credits .title {
      width: 100%;
      clear: both;
   }


   #credits .embedded-page.row {
     margin-bottom: 4ex;
     float: left;
     clear: both;
   }

  #tools {
    margin: 2ex auto 0 auto;
    width: 248px;
  }

#Counter {
    padding-left: 50px;
}
