#tabs {
    margin: 3ex 0 0 0;
    float: left;
}
    #tabs a {
        float: left;
        margin: 0;
        margin-right: .5ex;
        padding: 1ex;
        background-color: white;
        border-color: transparent;
        border-radius: 4px 4px 0 0;
        border-bottom: 0;
    }
    #tabs a {
        color: black;
        text-decoration: none;
    }
    #tabs a:visited {
        color: black;
    }
    #tabs a.active {
        background-color: #2287B5;
        color: white;
    }


#sightings_wrapper {
    float: left;
}

.tab_content {
    clear: both;
    display: block;
    border-top: 0;
    margin-top: -1px;
    background-color: white;
    color: black;
}

#sightings_filter {
    padding-top: 1ex;
    margin-top: 2ex;
    float: left;
}


#sightings_filter p {
    float: left;
    margin: 0 0 0 0;
}

#map {
      height: 400px;
      width: 100%;
}

#no_sightings {
    display: none;
    padding: 2ex;
}

#pagination #prev, #pagination #next {
    display: none;
}

#pagination #prev {
    float: left;
}

#pagination #next {
    float: right;
}


#sightings_filter input[type=submit], a#download_xls {
      float: left;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: -1ex;
      margin-left: .5ex;
      text-decoration: none;
}

a#download_xls {
    margin-top: 2ex;
    margin-left: 0;
}

a#download_xls img {
    border: 0 none;
    margin: 0;
    padding: 0;
}

#download_xls a span {
    float: left;
    color: white;
}

#sightings_filter label {
    margin-left: 1ex;
}


#sightings_filter input.narrow {
    width: 6em;
}

a#report_sighting_button {
      display: inline;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: 2ex;
      text-decoration: none;
}

#list table {
    display: block;
    padding: 2ex;
    border-collapse: collapse;
}

#list table th, td {
    padding: 1ex;
    border: 1px solid #CCC;
}

#list table td#edit_col img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#list table td#edit_col a.enabled img {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#list #pagination {
    height: 6ex;
}

#list #pagination div {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-left: 1em;
    margin-right: 1em;
}
