#sight_report_form { margin-top: 3ex;}

  #sight_report_form em {
      font-style: normal;
     font-weight: bold;
  }

  #sight_report_form label {
      display: block;
      margin-bottom: .5ex;
      margin-top: .5ex;
  }

  #sight_report_form .field {
      float: left;
      clear: both;
      display: block;
      margin-bottom: 2ex;
      margin-top: 2ex;
  }

  #sight_report_form .field.required label {
      font-weight: bold;
  }

  #sight_report_form label.required {
      font-weight: bold;
  }

  #sight_report_form .inline label {
      display: inline;
      margin-right: 1ex;
  }

  #sight_report_form #other_jellyfish {
      display: block;
      clear: left;
  }

  #sight_report_form #other_jellyfish_description {
      margin-top: 1ex;
  }

  #sight_report_form textarea {
     display: block;
     width: 100%;
  }

  #sight_report_form input[type=submit] {
      clear: both;
      display: block;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: 2ex;
  }

  #sight_report_form span.help {
     clear: both;
     display: block;
     color: grey;
     margin-top: .5ex;
  }

  #sight_report_form .jellyfish_image {
      width: 182px;
      height: 160px;
      float: left;
      margin-right: 1em;
      margin-bottom: 2ex;
      border-radius: 4px 4px 4px 4px;
      border: 4px solid transparent;
      padding: 4px;
      cursor: pointer;
  }

  #sight_report_form .jellyfish_image:hover,  #sight_report_form .jellyfish_image.selected {
      border: 4px solid white;
  }

  #sight_report_form .jellyfish_image .jellyfish_name {
      position: relative;
      top: -28px;
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: rgba(0,0,0,0.8);
      -webkit-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
      text-align: center;
      width: 100%;
  }

  #sight_report_form #jellyfish_info {
      display: none;
      position: absolute;
      background-color: rgba(0,0,0,0.8);
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      padding: .5ex;
  }

  #sight_report_form #jellyfish_info label {
      display: block;
  }

  #sight_report_form #jellyfish_info:last-child label {
      margin-top: 1ex;
  }

  #sight_report_form #other_jellyfish_description {
      display: none;
  }

  #sight_report_form #location {
      float: left;
  }

  #sight_report_form a#reset {
      display: none;
      float: left;
      margin-left: 1ex;
      color: white;
  }

  #sight_report_form #map {
      height: 400px;
      width: 100%;
      background: url('../img/gmaps-icon.png') center no-repeat;
  }

  #sight_report_form #jellyfishes {
      clear: both;
  }
