ul.tabs {
    list-style: none;
    margin: 3ex 0 0 0;
    padding: 0;
}
    ul.tabs li {
        float: left;
        border: 1px solid white;
        margin: 0;
        padding: 1ex;
    }

.tab_content {
    clear: both;
}

#sightings_filter p {
    float: left;
}

#map {
      height: 400px;
      width: 100%;
}

#no_sightings {
    display: none;
}

#pagination #prev, #pagination #next {
    display: none;
}

#pagination #prev {
    float: left;
}

#pagination #next {
    float: right;
}

#sightings_filter {
    margin-left: 1em;
    float: left;
}

#sightings_filter input[type=submit] {
      float: left;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: .5ex;
      margin-left: 1em;
}

#sightings_filter label {
    margin-left: 1em;
}


#sightings_filter input.narrow {
    width: 6em;
}

a#report_sighting_button {
      display: inline;
      background-color: #2287B5;
      color: white;
      padding: 1ex;
      border-radius: 4px 4px 4px 4px;
      border-color: transparent;
      margin-top: 2ex;
      text-decoration: none;
}
