#left_column {
  float: left;
  width: 33%;
}

#middle_column {
  width: 33%;
  float: right;
}

#right_column {
  margin: 0 auto;
  width: 33%;
  display: inline-block;
}

.plugin_file a {
  text-align: center;
  background: none;
  margin: 0;
}

  .filesize {
    display: none;
  }

#left_column .plugin_picture img {
       height: 310px;
       width:  220px;
     }
 
#right_column .plugin_picture img {
       height: 310px;
       width:  220px;
     }

#middle_column .plugin_picture img {
       height: 310px;
       width:  220px;
     }
#left_columna .plugin_picture img {
       height: 88px;
       width: 245px;
     }
 
#right_columna .plugin_picture img {
       height: 88px;
       width: 245px;
     }

#middle_columna .plugin_picture img {
       height: 88px;
       width: 245px;
     }