{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags i18n %}

{% block base_content %}
{% addtoblock "css" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">
{% endaddtoblock %}

<div id="project_description" align="center">
        {% placeholder "project_description" %}
        {% placeholder "project_description-2" %}
</div>

<div id="credits">
    <div class="title">
      {% placeholder "credits-title-1" %}
      <p></p>
    </div>
    <div class="logos">
      {% placeholder "logos-1" %}
    </div>
    <div class="title">
      {% placeholder "credits-title-2" %}
      <p></p>
    </div>
    <div class="logos">
      {% placeholder "logos-2" %}
    </div>
  </div>

<div id="news">
    <div class="title">
      {% placeholder "new-text-1" %}
      <p></p>
    </div>
    <div class="new">
      {% placeholder "new-image-1" %}
      {% placeholder "new-image-1a" %}
      {% placeholder "new-image-1b" %}
      {% placeholder "new-image-1c" %}
    </div>
    <div class="title">
      {% placeholder "new-text-2" %}
      <p></p>
    </div>
    <div class="new">
      {% placeholder "new-image-2" %}
      {% placeholder "new-image-2a" %}
      {% placeholder "new-image-2b" %}
      {% placeholder "new-image-2c" %}
    </div>
  </div>
</div>

</div>


{% endblock %}
