{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
  {% endaddtoblock %}

  {% block page_content %}
  <div id="page_content">
    <div id="page_content2" align="center">
      {% placeholder base_content %}
    </div>
  </div>
  <div id="partner" align="center">
    {% placeholder partner_content %}
    {% placeholder "img_partner" %}
    {% placeholder partner_content2 %}
    {% placeholder "img_partner2" %}
  </div>
  <div id="social" align="center">
    {% placeholder "img_social" %}
    {% placeholder "sting_social" %}
  </div>
  {% endblock %}
{% endblock %}
