{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/three_columns.css">
  <style>
    span.plugin_picture { margin: 4ex 0 0 4ex; display: block; }
  </style>
  {% endaddtoblock %}

  {% block page_content %}
  <div id="page_content">
    {% placeholder base_content %}
    {% placeholder left_content %}
    {% placeholder middle_content %}
    {% placeholder right_content %}
  </div>
  {% endblock %}
{% endblock %}
