{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
    {% addtoblock "css" %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/three_columns.css">
    {% endaddtoblock %}
 <div id"wrapper">    
 	<div id="header_image" align="center">
      {% placeholder "header_image" %}
    </div>
    <div id="left">
     <div id="dynamic_menu">
       <ul id="nav">
         {% show_menu 0 100 0 100%}
       </ul>
     </div>
   </div>
   <div id="center">
      {% block page_content %}
      <div id="page_content">
        {% placeholder base_content %}
      </div>
      <div id="2015">
      	{% placeholder 2015 %}
       <div id="left_column">
          {% placeholder left_content %}
        </div>
        <div id="middle_column">
          {% placeholder middle_content %}
        </div>
        <div id="right_column">
          {% placeholder right_content %}
        </div>
       </div> 
        <div id="2014">
      	{% placeholder 2014 %}
       <div id="left_column">
          {% placeholder left_content %}
        </div>
        <div id="middle_column">
          {% placeholder middle_content %}
        </div>
        <div id="right_column">
          {% placeholder right_content %}
        </div>
       </div> 
        <div id="2013">
      	{% placeholder 2013 %}
       <div id="left_column">
          {% placeholder left_content %}
        </div>
        <div id="middle_column">
          {% placeholder middle_content %}
        </div>
        <div id="right_column">
          {% placeholder right_content %}
        </div>
       </div> 
        <div id="2012">
      	{% placeholder 2012 %}
       <div id="left_column">
          {% placeholder left_content %}
        </div>
        <div id="middle_column">
          {% placeholder middle_content %}
        </div>
        <div id="right_column">
          {% placeholder right_content %}
        </div>
       </div> 
        <div id="2011">
      	{% placeholder 2011 %}
       <div id="left_column">
          {% placeholder left_content %}
        </div>
        <div id="middle_column">
          {% placeholder middle_content %}
        </div>
        <div id="right_column">
          {% placeholder right_content %}
        </div>
       </div> 
      {% endblock %}
   </div>
    <div id="right">
     <div id="avista" align="center">
        </br>
        </br>
        {% placeholder "avista" %}	
     </div>
      <div id="life" align="center">
        	 </br>
             </br>         
         {% placeholder "contact" %}
     </div> 
    </div>	
 </div>
{% endblock %}
