{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block base_content %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/page.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/three_columns.css">
  {% endaddtoblock %}

  {% block page_content %}
  <div id="page_content">
    {% placeholder base_content %}
  </div>
  <div id="left_column">
    {% placeholder left_content %}
  </div>
  <div id="middle_column">
    {% placeholder middle_content %}
        </div>
  <div id="right_column">
    {% placeholder right_content %}
  </div>
  {% endblock %}
{% endblock %}
