{% extends "page.html" %}

{% load i18n cms_tags sekizai_tags %}

{% block page_content %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sightings_page.css">
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <script src="{{ STATIC_URL }}js/vendor/jquery.ui.map.full.min.js"></script>
  <script src="{{ STATIC_URL }}js/sightings_page.js"></script>
  {% endaddtoblock %}

  {% placeholder base_content %}
  <a id="report_sighitng_button" href="{% page_url 'sighting_report_page' %}">
    {% trans "Report sighting" %}
  </a>

  <ul class="tabs">
    <li><a href="#map">{% trans "Map" %}</a></li>
    <li><a href="#list">{% trans "List" %}</a></li>
  </ul>

  {% placeholder sightings_filter_form %}

  <div class="tab_content">
    <div id="no_sightings">
      <p>{% trans "There's no sightings yet." %}</p>
    </div>
    <div id="map">
    </div>
    <div id="list">
      <table>
        <thead>
          <th>{% trans "Photo" %}</th>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Specimen" %}</th>
          <th>{% trans "Reporter" %}</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>


{% endblock %}
