{% extends "page.html" %}

{% load i18n cms_tags sekizai_tags %}

{% block page_content %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/sightings_page.css">
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script src="{{ STATIC_URL }}js/sightings_page.js"></script>
  {% endaddtoblock %}

  {% placeholder base_content %}
  <a id="report_sighitng_button" href="{% page_url 'sighting_report_page' %}">
    {% trans "Report sighting" %}
  </a>

  <ul class="tabs">
    <li><a href="#map_pl">{% trans "Map" %}</a></li>
    <li><a href="#list">{% trans "List" %}</a></li>
  </ul>

  <div id="map_pl">
    {% placeholder map %}
  </div>
  <div id="list">
    {% placeholder sigthings_list %}
  </div>
{% endblock %}
