{% extends "page.html" %}

{% load i18n sekizai_tags thumbnail cms_tags %}

{% block page_content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sight_report_form.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dark-hive/jquery-ui-1.10.4.custom.min.css">
  {% endaddtoblock %}
  {% addtoblock "js" %}
    <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/sight_report_form.js"></script>
  {% endaddtoblock %}

  <h2>{% trans "Report sighting" %}</h2>
  <form method="post" action="" id="report-sight-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="form_errors">
      {{ form.non_field_errors }}
    </div>

    <div class="field inline">
      {{ form.date.errors }}
      {{ form.date.label_tag }}
      {{ form.date }}
    </div>

    <div class="field inline">
      <input type="radio" id="known_specimen_type" checked="true" value="known"
             name="specimen_type"/>
      <label for="known_specimen_type">{% trans "Choose jellyfish specimen" %}</label>
      <span class="help">{% trans "Click on jellyfish to input size and quantity" %}</span>
    </div>

    {% for jellyfish in jellyfishes %}
    <div class="jellyfish_image {% if forloop.first %} selected {% endif %}"
         data-id="{{ jellyfish.id }}">
      {% thumbnail jellyfish.image "180x160" crop="center" as im %}
      <img src="{{ im.url|safe }}" alt="{{ jellyfish.name }}">
      <div class="jellyfish_name">{{ jellyfish.name }}</div>
      {% endthumbnail %}
    </div>
    {% endfor %}
    {{ form.jellyfish.as_hidden }}

    <div id="jellyfish_info">
      <label for="id_jellyfish_quantity">{% trans "Quantity" %}</label>
      {{ form.jellyfish_quantity }}
      <label for="id_size">{% trans "Size" %}</label>
      {{ form.jellyfish_size }}
    </div>
    <div id="other_jellyfish" class="field inline">
      <input type="radio" id="other_specimen_type" value="other" name="specimen_type" />
      <label for="other_specimen_type">{% trans "Other specimen" %}</label>
      <div id="other_jellyfish_description">
        {{ form.description_extra.errors }}
        {{ form.description_extra }}
      </div>
    </div>
    <div class="field">
      {{ form.description.errors }}
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>
    <div class="field">
      {{ form.address.errors }}
      {{ form.address.label_tag }}
      {{ form.address }}
    </div>
    <div class="field inline">
      {{ form.lat.errors }}
      {{ form.lat.label_tag }}
      {{ form.lat }}
    </div>
    <div class="field inline">
      {{ form.lng.errors }}
      {{ form.lng.label_tag }}
      {{ form.lng }}
    </div>
    <div class="field inline">
      {{ form.image_name.errors }}
      {{ form.image_name.label_tag }}
      {{ form.image_name }}
    </div>
    <div class="field inline">
      {{ form.image.errors }}
      {{ form.image.label_tag }}
      {{ form.image }}
    </div>

    <input type="hidden" name="next" value="{% page_url 'sightings_page' %}" />
    <input type="submit" value="{% trans 'Save' %}" />
  </form>
{% endblock %}
