{% extends "page.html" %}

{% load i18n sekizai_tags thumbnail %}

{% block page_content %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sight_report_form.css">
  {% endaddtoblock %}
  <h2>{% trans "Report an observation" %}</h2>
  <form method="post" action="" id="report-sight-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="form_errors">
      {{ form.non_field_errors }}
    </div>
    <div class="field">
      {{ form.date.errors }}
      <label for="id_date">Date</label>
      {{ form.date }}
    </div>
    <fieldset id="jellyfish">
      <p>{% trans "Choose jellyfish specimen" %}</p>
      {% for jellyfish in jellyfishes %}
        <div class="jellyfish_image">
          {% thumbnail jellyfish.image "150x150" crop="center" as im %}
          <a href="#"><img src="{{ im.url|safe }}" alt="{{ jellyfish.name }}"></a>
          <div class="jellyfish_name">{{ jellyfish.name }}</div>
          {% endthumbnail %}
        </div>
      {% endfor %}
    </fieldset>
    <input type="submit" value="{% trans 'Save' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
