{% load i18n sekizai_tags %}

{% addtoblock "css" %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-darkness/jquery-ui-1.10.4.custom.min.css">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{{ STATIC_URL }}js/vendor/jquery-ui-1.10.4.custom.min.js"></script>
  {% if LANGUAGE_CODE != "en" %}
    <script src="{{ STATIC_URL }}js/vendor/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
  {% endif %}
  <script src="{{ STATIC_URL }}js/sightings_filter_form.js"></script>
{% endaddtoblock "js" %}

<form id="sightings_filter">
  {{ form.as_p }}
  <input type="submit" value="{% trans "Apply filter"%}"/>
</form>
<div id="form_errors"></div>
