{% load i18n %}

<form id="sightings_filter">
    <label for="jellyfish_type">{% trans "Jellyfish type" %}</label>
    <select id="jellyfish_type">
      <option value="{% trans "All types" %}">{% trans "All types" %}</option>
      {% for j in jellyfishes %}
      <option value="{{ j.id }}">{% trans j.name %}</option>
      {% endfor %}
      <option value="{% trans "Unknown type" %}">{% trans "Unknown type" %}</option>
    </select>
    <label for="from_date">{% trans "From date" %}</label>
    <input class="date" name="from_date"></input>
    <label for="to_date">{% trans "To date" %}</label>
    <input class="date" name="to_date"></input>
</form>
